* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke
}

/* Hero */

.hero {
  background-image: url(../images/portfolio-background.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  justify-content: flex-end;
  flex-wrap: wrap;
  height: 450px;
}

/* About Me */

#about-me {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
}

#about-me p {
  padding-left: 25px;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

.about-grid {
  display: flex;
}

img {
  padding: 5px;
  width: 200px;
  border-radius: 50%;
}

.section-title {
  font-family: Helvetica;
  font-size: 35px;
  border-right: 5px solid;
  padding-right: 50px;
  padding-left: 50px;
  text-align: left;
}

.primary-border {
  border-color:  #1a512e;
}

/* .body-grid {
  margin: 10px 10px 10px 20px;
  flex: 2 80%;
  flex-wrap: wrap;
} */

/* My work */

.work-text {
  padding-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

#card-stuff {
  padding-left: 50px;
}

/* Contact at the bottom */
.contact-text {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 50px;
  padding-right: 25px;
  padding-top: 25px;
  border-right: #1a512e;
  font-family: Arial, Helvetica, sans-serif;
}
#contact-me {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 20px;
  justify-content: space-evenly;
  align-content: flex-start;
  border-bottom-color: #1a512e;
  border-bottom-width: thick;
  font-family: Arial, Helvetica, sans-serif;
}

